# Scaling Data

In this exercise, you'll practice scaling data. Sometimes, you'll see the terms **standardization** and **normalization** used interchangeably when referring to feature scaling. However, these are slightly different operations. Standardization refers to scaling a set of values so that they have a mean of zero and a standard deviation of one. Normalization refers to scaling a set of values so that the range if between zero and one.

In this exercise, you'll practice implementing standardization and normalization in code. There are libraries, like scikit-learn, that can do this for you; however, in data engineering, you might not always have these tools available.

Run this first cell to read in the World Bank GDP and population data. This code cell also filters the data for 2016 and filters out the aggregated values like 'World' and 'OECD Members'.

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 

# read in the projects data set and do basic wrangling 
gdp = pd.read_csv('../data/gdp_data.csv', skiprows=4)
gdp.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)
population = pd.read_csv('../data/population_data.csv', skiprows=4)
population.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)


# Reshape the data sets so that they are in long format
gdp_melt = gdp.melt(id_vars=['Country Name'], 
                    var_name='year', 
                    value_name='gdp')

# Use back fill and forward fill to fill in missing gdp values
gdp_melt['gdp'] = gdp_melt.sort_values('year').groupby('Country Name')['gdp'].fillna(method='ffill').fillna(method='bfill')

population_melt = population.melt(id_vars=['Country Name'], 
                                  var_name='year', 
                                  value_name='population')

# Use back fill and forward fill to fill in missing population values
population_melt['population'] = population_melt.sort_values('year').groupby('Country Name')['population'].fillna(method='ffill').fillna(method='bfill')

# merge the population and gdp data together into one data frame
df_country = gdp_melt.merge(population_melt, on=('Country Name', 'year'))

# filter data for the year 2016
df_2016 = df_country[df_country['year'] == '2016']

# filter out values that are not countries
non_countries = ['World',
 'High income',
 'OECD members',
 'Post-demographic dividend',
 'IDA & IBRD total',
 'Low & middle income',
 'Middle income',
 'IBRD only',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'North America',
 'Upper middle income',
 'Late-demographic dividend',
 'European Union',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Early-demographic dividend',
 'Lower middle income',
 'Latin America & Caribbean',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latin America & Caribbean (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Middle East & North Africa',
 'Europe & Central Asia (excluding high income)',
 'South Asia (IDA & IBRD)',
 'South Asia',
 'Arab World',
 'IDA total',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Central Europe and the Baltics',
 'Pre-demographic dividend',
 'IDA only',
 'Least developed countries: UN classification',
 'IDA blend',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'Low income',
 'Small states',
 'Other small states',
 'Not classified',
 'Caribbean small states',
 'Pacific island small states']

# remove non countries from the data
df_2016 = df_2016[~df_2016['Country Name'].isin(non_countries)]


# show the first ten rows
print('first ten rows of data')
df_2016.head(10)

first ten rows of data

               Country Name  year           gdp  population
14784                 Aruba  2016  2.584464e+09    104822.0
14785           Afghanistan  2016  1.946902e+10  34656032.0
14786                Angola  2016  9.533720e+10  28813463.0
14787               Albania  2016  1.188368e+10   2876101.0
14788               Andorra  2016  2.877312e+09     77281.0
14790  United Arab Emirates  2016  3.570451e+11   9269612.0
14791             Argentina  2016  5.548609e+11  43847430.0
14792               Armenia  2016  1.054614e+10   2924816.0
14793        American Samoa  2016  6.580000e+08     55599.0
14794   Antigua and Barbuda  2016  1.460145e+09    100963.0

# Exercise - Normalize the Data

To normalize data, you take a feature, like gdp, and use the following formula

$x_{normalized} = \frac{x - x_{min}}{x_{max} - x_{min}}$

where 
* x is a value of gdp
* x_max is the maximum gdp in the data
* x_min is the minimum GDP in the data

First, write a function that outputs the x_min and x_max values of an array. The inputs are an array of data (like the GDP data). The outputs are the x_min and x_max values

In [23]:
def x_min_max(data):
    # TODO: Complete this function called x_min_max() 
    # The input is an array of data as an input 
    # The outputs are the minimum and maximum of that array
    minimum = min(data)
    maximum = max(data)
    return minimum, maximum

# this should give the result (36572611.88531479, 18624475000000.0)
x_min_max(df_2016['gdp'])

(36572611.88531479, 18624475000000.0)

Next, write a function that normalizes a data point. The inputs are an x value, a minimum value, and a maximum value. The output is the normalized data point

In [24]:
def normalize(x, x_min, x_max):
    # TODO: Complete this function
    # The input is a single value 
    # The output is the normalized value
    return (x - x_min) / (x_max - x_min)

Why are you making these separate functions? Let's say you are training a machine learning model and using normalized GDP as a feature. As new data comes in, you'll want to make predictions using the new GDP data. You'll have to normalize this incoming data. To do that, you need to store the x_min and x_max from the training set. Hence the x_min_max() function gives you the minimum and maximum values, which you can then store in a variable.

A good way to keep track of the minimum and maximum values would be to use a class. In this next section, fill out the Normalizer() class code to make a class that normalizes a data set and stores min and max values.

In [25]:
class Normalizer():
    # TODO: Complete the normalizer class
    # The normalizer class receives a dataframe as its only input for initialization
    # For example, the data frame might contain gdp and population data in two separate columns
    # Follow the TODOs in each section
    
    def __init__(self, dataframe):
        
        # TODO: complete the init function. 
        # Assume the dataframe has an unknown number of columns like [['gdp', 'population']] 
        # iterate through each column calculating the min and max for each column
        # append the results to the params attribute list
        
        # For example, take the gdp column and calculate the minimum and maximum
        # Put these results in a list [minimum, maximum]
        # Append the list to the params variable
        # Then take the population column and do the same
        
        # HINT: You can put your x_min_max() function as part of this class and use it
        
        self.params = []

        for column in dataframe.columns:
            self.params.append(x_min_max(dataframe[column]))
            
    def x_min_max(data):
        # TODO: complete the x_min_max method
        # HINT: You can use the same function defined earlier in the exercise
        minimum = min(data)
        maximum = max(data)
        return minimum, maximum

    def normalize_data(self, x):
        # TODO: complete the normalize_data method
        # The function receives a data point as an input and then outputs the normalized version
        # For example, if an input data point of [gdp, population] were used. Then the output would
        # be the normalized version of the [gdp, population] data point
        # Put the results in the normalized variable defined below
        
        # Assume that the columns in the dataframe used to initialize an object are in the same
        # order as this data point x
        
        # HINT: You cannot use the normalize_data function defined earlier in the exercise.
        # You'll need to iterate through the individual values in the x variable        
        # Use the params attribute where the min and max values are stored 
        normalized = []
        for i, value in enumerate(x):
            x_max = self.params[i][1]
            x_min = self.params[i][0]
            normalized.append((x[i] - x_min) / (x_max - x_min))
        return normalized

In [26]:
DF=df_2016[['gdp', 'population']]

In [27]:
DF

                gdp   population
14784  2.584464e+09     104822.0
14785  1.946902e+10   34656032.0
14786  9.533720e+10   28813463.0
14787  1.188368e+10    2876101.0
14788  2.877312e+09      77281.0
14790  3.570451e+11    9269612.0
14791  5.548609e+11   43847430.0
14792  1.054614e+10    2924816.0
14793  6.580000e+08      55599.0
14794  1.460145e+09     100963.0
14795  1.208039e+12   24210809.0
14796  3.908000e+11    8736668.0
14797  3.786752e+10    9757812.0
14798  3.007029e+09   10524117.0
14799  4.675455e+11   11331422.0
14800  8.573160e+09   10872298.0
14801  1.144878e+10   18646433.0
14802  2.214152e+11  162951560.0
14803  5.324089e+10    7127822.0
14804  3.215269e+10    1425171.0
14805  1.183880e+10     391232.0
14806  1.691109e+10    3516816.0
14807  4.772266e+10    9501534.0
14808  1.820159e+09     366954.0
14809  5.573710e+09      65341.0
14810  3.394113e+10   10887882.0
14811  1.793989e+12  207652865.0
14812  4.529050e+09     284996.0
14813  1.140065e+10     423196.0
14814  2.212639e+09     797765.0
...             ...          ...
15010  9.412034e+09      34900.0
15011  9.412034e+09   14452543.0
15014  4.388570e+09    7606374.0
15015  4.117552e+11   68863514.0
15016  6.951657e+09    8734951.0
15017  3.617989e+10    5662544.0
15019  2.521008e+09    1268671.0
15021  4.015620e+08     107122.0
15024  2.232001e+10    1364962.0
15025  4.206255e+10   11403248.0
15026  8.637216e+11   79512426.0
15027  3.657261e+07      11097.0
15028  4.738840e+10   55572201.0
15029  2.407893e+10   41487965.0
15030  9.327048e+10   45004645.0
15032  5.268761e+10    3444006.0
15033  1.862448e+13  323405935.0
15034  6.706757e+10   31847900.0
15035  7.655556e+08     109643.0
15036  4.823593e+11   31568179.0
15037  3.765000e+09      30661.0
15038  3.765000e+09     107510.0
15039  2.052762e+11   94569072.0
15040  7.879426e+08     270402.0
15042  7.863563e+08     195125.0
15043  6.715487e+09    1816200.0
15044  1.821333e+10   27584213.0
15045  2.957627e+11   56015473.0
15046  2.095475e+10   16591390.0
15047  1.661996e+10   16150362.0

[217 rows x 2 columns]

In [28]:
LIST[0][1]

18624475000000.0

In [29]:
LIST=[]
for col in DF.columns:
    LIST.append(x_min_max(DF[col]))

In [30]:
LIST

[(36572611.88531479, 18624475000000.0), (11097.0, 1378665000.0)]

In [31]:
Data_points=[13424475000000.0, 1300000000]

In [32]:
N

[13424475000000.0, 1299999999.999992]

Run the code cells below to check your results

In [33]:
gdp_normalizer = Normalizer(df_2016[['gdp', 'population']])

In [34]:
# This cell should output: [(36572611.88531479, 18624475000000.0), (11097.0, 1378665000.0)]
gdp_normalizer.params

[(36572611.88531479, 18624475000000.0), (11097.0, 1378665000.0)]

In [35]:
# This cell should output [0.7207969507229194, 0.9429407193285986]
gdp_normalizer.normalize_data([13424475000000.0, 1300000000])

[0.7207969507229194, 0.9429407193285986]

# Conclusion

When normalizing or standardizing features for machine learning, you'll need to store the parameters you used to do the scaling. That way you can scale new data points when making predictions. In this exercise, you stored the minimum and maximum values of a feature. When standardizing data, you would need to store the mean and standard deviation. The standardization formula is:

$\frac{x - x}{S}$